h3 {
   color: brown;
}

img {
   max-width: 200px;
   max-height: 200px;
}

.photos {
   text-align: center;
}

div {
   background-color: black;
   border: 10px dotted blue;
   border-radius: 25px;   
   padding: 25px;
}